body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
.table-info{
  background-color: #86cfda;
}
.conteiner-1{
display:flex;
flex-basis: 100%;
margin: 0;
padding: 0;
flex-direction:column;
width: 960px;
background-color:#98c6f5;
margin-left:auto;
margin-right:auto;
}
header, footer {
width:100%; 
background-color:#bfe6ec;
padding: 10px;
height:150px;
text-align: center;
font-family: "Courier New", monotype;
font-style: italic; 
margin-top: 0;
}
.h{display: block;
width:960px; 
margin-left: auto;
margin-right: auto;
}
#logo{
max-width:800px;
margin: 0 auto;
padding:10px;
float:left;
width:100px;
height:100px;
}
.nav{
color:DarkBlue;
}
.naveg-1{
align-items:flex-start;
}
.naveg-2{
align-items:flex-start;
}
.naveg-3{
align-items:flex-start;
}
.order-1{ 
order:1;
}
.order-2{ 
order:2;
}
.order-3{
order:3;
}
table{
border-collapse: collapse;
border:0;
}
@media screen and (min-device-width: 500px) {
.nav{
width:960px; 
margin-left: auto;
margin-right: auto;
display: -webkit-flex; 
display: flex; 
justify-content:space-around;
}
.naveg-1{
flex-basis:content;
flex-direction:row;
align-items:center;
}
.naveg-2{
flex-basis:content;
flex-direction:row;
align-items:center;
}
.naveg-3{
flex-basis:content;
flex-direction:row;
align-items:center;
}
.conteiner-1{
display:flex;
flex-direction:column;
width:960px;
margin-left:auto;
margin-right:auto;
margin-bottom:10px;
}
.order-1{
    order:1;
}
.order-3{ 
order:2;
}
.order-2{ 
order:3;
}
}